p {
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgb(0 0 200 / 0.6);
    background: rgb(0 0 200 / 0.6);
    color: rgb(255 255 255 / 1);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }