html, body{
  font-family:Arial, sans-serif;
}

.title{
  font-size:16px;
}

.canvas{
  overflow:hidden;
}

.canvas .wrapper.outer > .background{
  fill:#44444;
}

.canvas .wrapper.inner > .background{
  fill:#CCCCCC;
  cursor:move;
}

.canvas .background{
  fill:#F6F6F6;
  stroke:#333333;
  cursor:move;
}

.canvas .panCanvas{
  cursor:move;
}

.canvas .minimap .frame .background{
  stroke:#111111;
  stroke-width:4px;
  fill-opacity:0.4;
  fill:#000000;
  fill:url(#minimapGradient_gmult);
  filter:url(#minimapDropShadow_gmult);
  cursor:move;
}

.forcecircle{
}

